<header data-component="header">
  <div class="options">
    <img 
      src="assets/images/netflix-logo.png"
      alt="logo netflix"
    >
    <ul>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/top-watched">
          Mais assistidos
        </a>
      </li>
    </ul>
  </div>
  <div class="account-dropdown">
    <img src="assets/images/profile-1.jpg" alt="">
    <div class="dropdown">
      <ul>
        <li routerLink="/profile" routerLinkActive="active">
          Meu perfil
        </li>
        <li (click)="logout()">
          Sair
        </li>
      </ul>
    </div>
  </div>
</header>