<header data-component="header">
  <div class="teste">
    <img 
      src="assets/images/netflix-logo.png"
      alt="logo netflix"
    >
    <ul>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/top-watched">
          Mais assistidos
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/profile">
          Meu perfil
        </a>
      </li>
    </ul>
  </div>
  <div style="color: #fff" (click)="onRemove()">
    Sair
  </div>
</header>