@import '../../../assets/stylus/colors.styl';

[data-component="parental-rating"]
  width 25px
  height 25px
  display flex
  justify-content center
  align-items center
  border-radius 5px
  font-weight bold
  &.green
    background-color $rating-green
  &.blue
    background-color $rating-blue
  &.yellow
    background-color $rating-yellow
  &.orange
    background-color $rating-orange
  &.red
    background-color $rating-red
  &.black
    background-color $rating-black

