@import '../../../../assets/stylus/colors.styl';
@import '../../../../assets/stylus/media-queries.styl';

[data-component="profile"]
  width 100%
  padding 40px 0
  h2
    color $red
    position relative
    &::after
      content ''
      width calc(100% - 120px)
      height 1px
      background-color $white
      position absolute
      right 0
      top 50%
  .movies-watched
    margin-top 50px
    h3
      color $white
    .movies
      display flex
      flex-wrap wrap
      margin-top 30px
      .not-see
        width 100%
        display flex
        flex-direction column
        align-items center
        span
          color $white
          font-size 15px
          margin-bottom 15px
        img
          width 200px
      .movie
        width 20%
        +breakpoint(middle)
          width 30%
          margin-bottom 20px
        +breakpoint(large-mobile)
          width 50%
        +breakpoint(middle-mobile)
          width 100%
        display flex
        flex-direction column
        position relative
        span
          color $white
          font-size 30px
          position absolute;
          z-index 9
          border 1px solid $red
          background-color $red
          width 40px
          height 40px
          display flex
          justify-content center
          align-items center
          border-radius 50%
          left 14px
          top 5px
          box-shadow 3px 5px 4px -1px rgba(0,0,0,0.4)
        img
          width 100%

