@import '../../../assets/stylus/colors.styl';

[data-component="list-movies"]
  background-color red
  h2
    color $white
    font-weight 700
    font-size 19px
  .movies
    display flex
    flex-direction row