$red = #E50914;
$red-dark = #b30c15;
$white = #ffffff;
$gray = #b3b3b3;
$gray-background = #141414;
$error = #E87C03;
$black = #000000;
$black-opacity = rgba(0, 0, 0, 0.85);
$black-gradient = linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
$rating-green = #0c9447;
$rating-blue = #0f7dc2;
$rating-yellow = #f8c411;
$rating-orange = #e67824;
$rating-red = #db2827;
$rating-black = #1d1815;